<!DOCTYPE html>

<html>
  <head>
    <title>Welcome to the Comment guessing website for Connected Data BTA 1016</title>
  
    <meta name="description" content="Can you guess the number?" />
    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body>
    <header>
      <h1>Connecte Data BTA 1016</h1>
   
    </header>
    <main>
      

      <img src = "static/images/college_icon_cambrian.png" width= "30%">

      <h2>Guess The Number BEGIN </h2>

      <!-- Guess The Number END -->

      <div class="comment-container">
        
        <table>
          <tbody>
            {% for comment in comments %}
            <tr>
              <td class="author"><b>{{comment.author}}: </b></td>
              <td class="content">{{comment.content}}</td>
            </tr>
            <tr>
              <td></td>
              <td class="time">{{comment.create_time}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <h2>Use the Box Below</h2>
      <form method="POST" action="/comments" target="_blank">
        <input type="text"  name="author" />
        <textarea
          type="multiline"
          name="content"
        ></textarea>
        <input type="submit"  />
      </form>
    </main>
  </body>
</html>
